<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.mobishift.cordova.plugins.umenganalytics"
    version="0.1.0">
    <name>umeng analytics</name>
    <description>umeng analytics</description>
    <license>MIT</license>
    <keywords>cordova,umeng,analytics</keywords>
</plugin>
